* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.grid {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 40px 0;
}

.canvasContainer {
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 8px;
}
/* canvas {
  max-width: 100%;
  padding: 8px;
  height: auto !important;
} */
